* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    text-align: center;
}

.main * {
    margin: 20px;
}

.intro-p {
    margin-bottom: 50px;
}

.img {
    display: flex;
}

form {
    padding-top: 50px;
}

form * {
    margin: 5px;
}

textarea {
    margin: 0 auto;
}